@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links,
.right-links {
  display: flex;
  gap: 16px;
}

.header a,
.footer a {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: rgb(224, 224, 224);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  gap: 16px;
}

.buttons button {
  padding: 8px;
  font-weight: 600;
  color: black;
}
