.odd {
  background-color: rgb(254, 193, 203);
  font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.cooler {
  font-size: 24px;
}

#id {
  font-size: 36px;
  color: blue;
}

#another-id {
  font-size: 24px;
  font-weight: 700;
  background-color: rgb(162, 233, 162);
}
